/*
font-family: 'Libre Baskerville', serif;
font-family: 'Poppins', sans-serif (400,500,600);
font-family: 'Sacramento', cursive;

#38c695 - green
#a374de - purple
#cb995a	- yellow
#fc5f45 - red
*/

*{
	margin: 0;
	padding: 0;
}

html{
	scroll-behavior: smooth;
}

@font-face{
	font-family: WSAJ; 
	src: url(fonts/WisdomScriptAJ.otf); 
}

.container{
	max-width: 1200px;
	margin: 0 auto;
}
h1{
	font-size: 60px;
	font-weight: 400;
}
h2{
	font-size: 50px;
}
h2.block{
	font-size: 50px;
	margin-bottom: 25px;
	text-align: center;
	font-weight: 400;
}
h2.block.element-animation{
	transform: translateY(-100px);
	opacity: 0;
}
h2.block.element-animation.element-show{
	transform: translateY(0px);
	opacity: 1;
	transition: .5s;
}
h3{
	font-size: 30px;
}
h4{
	font-size: 25px;
}
h5{
	font-size: 20px;
}
p.text1{
	font-size: 18px;
}
p.text1Block{
	font-size: 18px;
	margin-bottom: 100px;
	text-align: center;
	font-family: Poppins;
	color: rgba(0, 0, 0, .75);
}
p.text1Block.element-animation{
	opacity: 0;
	transform: translateY(-100px);
}
p.text1Block.element-animation.element-show{
	opacity: 1;
	transform: translateY(0px);
	transition: .75s;
}
p.text2{
	font-size: 15px;
	color: grey;
}
p.text3{
	font-size: 13px;
	color: grey;
}
p.text1, p.text2, p.text3{
	font-family: Poppins;
	font-weight: 400;
}
p.num{
	font-family: Poppins;
	font-weight: 600;
	font-size: 275px;
	color: rgba(0, 0, 0, .1);
	line-height: 230px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
p.num.element-animation{
	opacity: 0;
}
p.num.element-animation.element-show{
	opacity: 1;
	transition: 2s;
}
button{
	padding: 10px 30px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0);
}
button p{
	font-family: Poppins;
	font-weight: 600;
	font-size: 18px;
}
.element-animation{
	opacity: 0;
}
.element-animation.element-show{
	opacity: 1;
}

header{
	margin-bottom: 150px;
}
header nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 999;
	animation: nav .5s;
}
@keyframes nav{
	0%{
		transform: translateY(-100%);
	}
	100%{
		transform: translateY(0);
	}
}
header nav .container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 25px 0;
}
header nav ul{
	display: flex;
}
header nav ul li{
	list-style: none;
	margin-left: 25px;
}
header nav ul li a{
	text-decoration: none;
	color: #000;
	font-family: Poppins;
}
header .weDesign{
	background-color: #3f4049;
	padding: 150px 0;
}
header .weDesign .container{
	margin-top: 77px;
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 700px;
}
header .weDesign h1{
	color: #fff;
	text-align: center;
	margin: 0 auto 75px auto;
}
header .weDesign h1.element-animation{
	transform: translateX(-250px);
	opacity: 0;
}
header .weDesign h1.element-animation.element-show{
	transform: translateX(0px);
	transition: .5s;
	opacity: 1;
}
header .weDesign button{
	background-color: #fc5f45;
	border: 0;
	color: #fff;
	margin-bottom: 100px;
}
header .weDesign button.element-animation{
	transform: translateX(250px);
	opacity: 0;
}
header .weDesign button.element-animation.element-show{
	transform: translateX(0);
	transition: .5s;
	opacity: 1;
}
header .weDesign .blocks{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header .weDesign .block{
	display: flex;
	flex-direction: column;
	align-items: center;
}
header .weDesign .block:nth-child(1).element-animation{
	transform: translateX(-250px);
}
header .weDesign .block:nth-child(2).element-animation{
	transform: translateX(-500px);
}
header .weDesign .block:nth-child(3).element-animation{
	transform: translateX(-750px);
}
header .weDesign .block.element-animation{
	opacity: 0;
}
header .weDesign .block.element-animation.element-show{
	transform: translateX(0);
	opacity: 1;
	transition: .5s;
}
header .weDesign .block img{
	margin-bottom: 25px;
}
header .weDesign .block:nth-child(1) p.text1{
	color: #38c695;
}
header .weDesign .block:nth-child(2) p.text1{
	color: #a374de;
}
header .weDesign .block:nth-child(3) p.text1{
	color: #cb995a;
}
header .weDesign .block p{
	text-transform: uppercase;
}
main .aboutUs{
	margin-bottom: 150px;
}
main .aboutUs .block{
	position: relative;
	top: 0;
	left: 0;
	width: 555px;
	height: 700px;
	background-color: rgba(0, 0, 0, .25);
}
main .aboutUs .block.element-animation{
	transform: translateX(-250px);
	opacity: 0;
}
main .aboutUs .block.element-animation.element-show{
	transform: translateX(0);
	transition: .5s;
	opacity: 1;
}
main .aboutUs .blockIn{
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translateY(-50%);
	width: 652px;
	height: 550px;
	background-color: #fff;
	box-shadow: 0px 0px 25px 0px grey;
	padding: 100px 75px;
	box-sizing: border-box;
}
main .aboutUs .blockIn.element-animation{
	transform: translate(500px, -50%);
	opacity: 0;
}
main .aboutUs .blockIn.element-animation.element-show{
	transform: translate(0, -50%);
	transition: .5s;
	opacity: 1;
}
main .aboutUs .blockIn p.num{
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(0);
}
main .aboutUs .blockIn h2{
	margin-bottom: 25px;
}
main .aboutUs .blockIn p.text2{
	color: grey;
}
main .aboutUs .blockIn p.text2:nth-child(3){
	margin-bottom: 25px;
}
main .aboutUs .blockIn .lines{
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 1;
}
main .aboutUs .blockIn .line{
	width: 25%;
	height: 4px;
}
main .aboutUs .blockIn .line:nth-child(1){
	background-color: #fc5f45;
}
main .aboutUs .blockIn .line:nth-child(2){
	background-color: #38c695;
}
main .aboutUs .blockIn .line:nth-child(3){
	background-color: #a374de;
}
main .aboutUs .blockIn .line:nth-child(4){
	background-color: #cb995a;
}
main .ourFocus{
	position: relative;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .05);
}
main .ourFocus .container{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 150px 0;
}
main .ourFocus .num{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
main .ourFocus h2{
	font-family: serif;
	text-align: center;
	margin-bottom: 25px;
	font-weight: 400;
}
main .ourFocus h2.element-animation{
	opacity: 0;
	transform: translateY(-100px);
}
main .ourFocus h2.element-animation.element-show{
	opacity: 1;
	transform: translateY(0px);
	transition: .5s;
}
main .ourFocus p.text1{
	margin-bottom: 100px;
}
main .ourFocus .blocks{
	display: flex;
	justify-content: space-between;
}
main .ourFocus .block{
	width: 20%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	padding: 50px 15px;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
	position: relative;
	top: 0;
	left: 0;
}
main .ourFocus .block:nth-child(1).element-animation{
	transform: translateX(-150px);
	opacity: 0;
}
main .ourFocus .block:nth-child(2).element-animation{
	transform: translateX(-100px);
	opacity: 0;
}
main .ourFocus .block:nth-child(3).element-animation{
	transform: translateX(100px);
	opacity: 0;
}
main .ourFocus .block:nth-child(4).element-animation{
	transform: translateX(150px);
	opacity: 0;
}
main .ourFocus .block.element-animation.element-show{
	transform: translateX(0px);
	opacity: 1;
	transition: .5s;
}
main .ourFocus .block:after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
}
main .ourFocus .block:nth-child(1):after{
	background-color: #fc5f45;
}
main .ourFocus .block:nth-child(2):after{
	background-color: #38c695;
}
main .ourFocus .block:nth-child(3):after{
	background-color: #a374de;
}
main .ourFocus .block:nth-child(4):after{
	background-color: #cb995a;
}
main .ourFocus .block img{
	margin-bottom: 25px;
}
main .ourFocus .block h5{
	font-family: Poppins;
	margin-bottom: 25px;
}
main .ourFocus .block p.text2{
	text-align: center;
	color: grey;
}
main .ourFocus .exploreOur{
	background-color: #3f4049;
}
main .ourFocus .exploreOur .container{
/*	padding: 100px 0;*/
}
main .ourFocus .exploreOur .container.element-animation{
	padding: 150px 0;
}
main .ourFocus .exploreOur .container.element-animation.element-show{
	padding: 100px 0;
	transition: .5s;
}
main .ourFocus .exploreOur h3{
	color: #fff;
	font-family: Poppins;
	font-weight: 400;
	margin-bottom: 25px;
}
main .ourFocus .exploreOur img{
	margin-bottom: 25px;
}
main .ourFocus .exploreOur p.text2{
	color: #fff;
}
main .portfolio .container{
	position: relative;
	top: 0;
	left: 0;
	padding: 150px 0;
}
main .portfolio .container p.num{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
}
main .portfolio .container h2{
	text-align: center;
	margin-bottom: 25px;
	font-weight: 400;
}
main .portfolio h2.element-animation{
	opacity: 0;
	transform: translateY(-100px);
}
main .portfolio h2.element-animation.element-show{
	opacity: 1;
	transform: translateY(0px);
	transition: .5s;
}
main .portfolio .container p.text1{
	text-align: center;
	margin-bottom: 100px;
}
main .portfolio .container .blocks{
	display: flex;
	flex-direction: column;
}
main .portfolio .container .block{
	position: relative;
}
main .portfolio .container .block.element-animation{
	transform: translateY(50px);
	opacity: 0;
}
main .portfolio .container .block.element-animation.element-show{
	transform: translateY(0px);
	opacity: 1;
	transition: .5s;
}
main .portfolio .container .line img.element-animation{
	transform: translateY(50px);
	opacity: 0;
}
main .portfolio .container .line img.element-animation.element-show{
	transform: translateY(0px);
	opacity: 1;
}
main .portfolio .container .line img:nth-child(1).element-animation.element-show{
	transition: .5s;
}
main .portfolio .container .line img:nth-child(2).element-animation.element-show{
	transition: 1s;
}
main .portfolio .container .line img:nth-child(3).element-animation.element-show{
	transition: 1.5s;
}
main .portfolio .container .line:nth-child(2) img:nth-child(1).element-animation.element-show{
	transition: 1.5s;
}
main .portfolio .container .line:nth-child(2) img:nth-child(2).element-animation.element-show{
	transition: 1s;
}
main .portfolio .container .line:nth-child(2) img:nth-child(3).element-animation.element-show{
	transition: .5s;
}
main .portfolio .container .block .bg{
	width: 100%;
	height: 20%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #fff;
}
main .portfolio .container .block .bg p.text1{
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
main .portfolio .container .line{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}
main .portfolio .container .block .lines{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
}
main .portfolio .container .block .line{
	width: 25%;
	height: 4px;
}
main .portfolio .container .block .line:nth-child(1){
	background-color: #fc5f45;
}
main .portfolio .container .block .line:nth-child(2){
	background-color: #38c695;
}
main .portfolio .container .block .line:nth-child(3){
	background-color: #a374de;
}
main .portfolio .container .block .line:nth-child(4){
	background-color: #cb995a;
}
main .portfolio .container .block img:nth-child(2){
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .1s;
	opacity: 0;
}
main .portfolio .container .block img:nth-child(1):hover ~ img:nth-child(2){
	opacity: 1;
}
main .portfolio .container .block img:nth-child(2):hover{
	opacity: 1;
}
main .ourTeam{
	background-color: rgba(0, 0, 0, .05);
}
main .ourTeam .container{
	position: relative;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .ourTeam .container .blocks{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 500px;
	position: relative;
}
main .ourTeam .container .blocks .block{
	width: 22%;
	height: 100%;
	background-color: #fff;
	padding: 5px 5px 5px 4px;
	position: relative;
}
main .ourTeam .container .blocks .block.element-animation{
	transform: translateX(100px);
	opacity: 0;
}
main .ourTeam .container .blocks .block.element-animation.element-show{
	transform: translateX(0px);
	opacity: 1;
}
main .ourTeam .container .blocks .block:nth-child(1).element-animation.element-show{
	transition: .5s;
}
main .ourTeam .container .blocks .block:nth-child(2).element-animation.element-show{
	transition: .75s;
}
main .ourTeam .container .blocks .block:nth-child(3).element-animation.element-show{
	transition: 1s;
}
main .ourTeam .container .blocks .block:nth-child(4).element-animation.element-show{
	transition: 1.25s;
}
main .ourTeam .container .blocks .block::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
}
main .ourTeam .container .blocks .block:nth-child(1)::after{
	background-color: #fc5f45;
}
main .ourTeam .container .blocks .block:nth-child(2)::after{
	background-color: #38c695;
}
main .ourTeam .container .blocks .block:nth-child(3)::after{
	background-color: #a374de;
}
main .ourTeam .container .blocks .block:nth-child(4)::after{
	background-color: #cb995a;
}
main .ourTeam .container .blocks .block:nth-child(1) .text1{
	color: #fc5f45;
}
main .ourTeam .container .blocks .block:nth-child(2) .text1{
	color: #38c695;
}
main .ourTeam .container .blocks .block:nth-child(3) .text1{
	color: #a374de;
}
main .ourTeam .container .blocks .block:nth-child(4) .text1{
	color: #cb995a;
}
main .ourTeam .container .block .img{
	width: 100%;
	height: 250px;
	margin-bottom: 10px;
}
main .ourTeam .container .block{
	cursor: pointer;
}
main .ourTeam .container .block:nth-child(1) .img{
	background-color: #fc5f45;
}
main .ourTeam .container .block:nth-child(2) .img{
	background-color: #38c695;
}
main .ourTeam .container .block:nth-child(3) .img{
	background-color: #a374de;
}
main .ourTeam .container .block:nth-child(4) .img{
	background-color: #cb995a;
}
main .ourTeam .container .block .text1{
	text-align: center;
	margin-bottom: 5px;
}
main .ourTeam .container .block .text3{
	text-align: center;
	margin-bottom: 10px;
}
main .ourTeam .container .blocks .comment{
	width: 100%;
	position: absolute;
	bottom: -450px;
	left: 0;
	background-color: #fff;
	padding: 100px;
	box-sizing: border-box;
}
main .ourTeam .container .blocks .comment.element-animation{
	opacity: 0;
	transform: translateY(-100px);
}
main .ourTeam .container .blocks .comment.element-animation.element-show{
	opacity: 1;
	transform: translateY(0px);
	transition: .5s;
}
main .ourTeam .container .comment{
	display: flex;
	justify-content: space-between;
	position: relative;
}
main .ourTeam .container .comment#first{
/*	display: none;*/
}
main .ourTeam .container .comment#first::before{
	content: '';
	position: absolute;
	top: -50px;
	left: 100px;
	width: 75px;
	height: 50px;
	background-color: #fff;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
main .ourTeam .container .comment#second{
	display: none;
}
main .ourTeam .container .comment#second::before{
	content: '';
	position: absolute;
	top: -50px;
	left: 400px;
	width: 75px;
	height: 50px;
	background-color: #fff;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
main .ourTeam .container .comment#third{
	display: none;
}
main .ourTeam .container .comment#third::before{
	content: '';
	position: absolute;
	top: -50px;
	left: 715px;
	width: 75px;
	height: 50px;
	background-color: #fff;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
main .ourTeam .container .comment#fourh{
	display: none;
}
main .ourTeam .container .comment#fourh::before{
	content: '';
	position: absolute;
	top: -50px;
	left: 1025px;
	width: 75px;
	height: 50px;
	background-color: #fff;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
main .ourTeam .container .comment .left{
	width: 70%;
}
main .ourTeam .container .comment .left h5{
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 20px;
}
main .ourTeam .container .comment .left p.text2{
	color: grey;
}
main .ourTeam .container .comment .right{
	padding-top: 50px;
	display: flex;
	align-items: center;
}
main .ourTeam .container .comment .right img{
	margin-right: 50px;
}
main .ourTeam .container .comment .right hr{
	width: 2px;
	height: 100%;
	background-color: rgba(0, 0, 0, .1);
	border: 0;
	margin-right: 50px;
}
main .ourTeam .container .comment .right .icon{
	display: flex;
	text-align: center;
	margin-top: 10px;
}
main .ourTeam .container .comment .right .icon img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
main .ourTeam .ourTeamAfter{
	background: url(imgs/Layer24.png) center no-repeat;
	background-size: cover;
}
main .ourTeam .ourTeamAfter .underBlocks{
	display: flex;
	width: 100%;
	justify-content: space-between;
}
main .ourTeam .ourTeamAfter .block{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
main .ourTeam .ourTeamAfter .block.element-animation{
	transform: translateY(100px);
	opacity: 0;
}
main .ourTeam .ourTeamAfter .block.element-animation.element-show{
	transform: translateY(0px);
	opacity: 1;
}
main .ourTeam .ourTeamAfter .block:nth-child(1).element-animation.element-show{
	transition: .5s;
}
main .ourTeam .ourTeamAfter .block:nth-child(2).element-animation.element-show{
	transition: .75s;
}
main .ourTeam .ourTeamAfter .block:nth-child(3).element-animation.element-show{
	transition: 1s;
}
main .ourTeam .ourTeamAfter .block:nth-child(4).element-animation.element-show{
	transition: 1.25s;
}
main .ourTeam .ourTeamAfter .block img:nth-child(1){
	margin-bottom: 20px;
}
main .ourTeam .ourTeamAfter .block h5{
	font-family: Poppins;
	font-weight: 400;
	color: #fff;
	margin-bottom: 20px;
}
main .ourTeam .ourTeamAfter .block p.text2{
	color: #fff;
	margin-bottom: 30px;
}
main .workSteps{
	position: relative;
}
main .workSteps .container{
	padding: 150px 0;
}
main .workSteps .blocks .block{
	margin: 0 auto;
	width: 500px;
	height: 300px;
	background-color: grey;
	position: relative;
}
main .workSteps .blocks .block:nth-child(1){
	background-color: #fc5f45;
}
main .workSteps .blocks .block:nth-child(2){
	background-color: #38c695;
}
main .workSteps .blocks .block:nth-child(3){
	background-color: #a374de;
}
main .workSteps .blocks .block:nth-child(4){
	background-color: #cb995a;
}
main .workSteps .blocks .block.element-animation{
	opacity: 0;
}
main .workSteps .blocks .block.element-animation.element-show{
	opacity: 1;
	transition: .5s;
}
main .workSteps .block .blockInAfter,
main .workSteps .block .blockInBefore{
	width: 100%;
	position: absolute;
	top: -10%;
	left: -75%;
	background-color: #fff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, .1);
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	position: relative;
	height: 90%;
}
main .workSteps .block .blockInBefore{
	left: 75%;
}
main .workSteps .block .blockInAfter.element-animation,
main .workSteps .block .blockInBefore.element-animation{
	animation: none;
}
main .workSteps .block .blockInAfter.element-animation.element-show{
	animation: after 1s;
}
main .workSteps .block .blockInBefore.element-animation.element-show{
	animation: before 1s;
}
@keyframes after{
	0%{
		opacity: 0;
		top: 0;
		left: 0;
		height: 100%;
	}
	40%{
		opacity: 1;
		top: 0;
		left: 0;
		height: 100%;
	}
	100%{
		top: -10%;
		left: -75%;
		height: 90%;
	}
}
@keyframes before{
	0%{
		opacity: 0;
		top: 0;
		left: 0;
		height: 100%;
	}
	40%{
		opacity: 1;
		top: 0;
		left: 0;
		height: 100%;
	}
	100%{
		top: -10%;
		left: 75%;
		height: 90%;
	}
}
main .workSteps .block .blockInAfter:after,
main .workSteps .block .blockInBefore:after{
	content: '';
	width: 100%;
	height: 4px;
	background-color: red;
	position: absolute;
	bottom: 0;
	left: 0;
}
main .workSteps .block .blockInAfter#one:after{
	background-color: #fc5f45;
}
main .workSteps .block .blockInBefore#one:after{
	background-color: #38c695;
}
main .workSteps .block .blockInAfter#two:after{
	background-color: #a374de;
}
main .workSteps .block .blockInBefore#two:after{
	background-color: #cb995a;
}
main .workSteps .block .blockInAfter .left p,
main .workSteps .block .blockInBefore .left p{
	font-size: 50px;
	font-family: Libre Baskerville;
	color: rgba(0, 0, 0, .1);
}
main .workSteps .block .blockInAfter .left hr,
main .workSteps .block .blockInBefore .left hr{
	width: 100px;
	height: 2px;
	transform: translate(-10px, -20px) rotate(-45deg);
	background-color: rgba(0, 0, 0, .1);
	border: 0;
}
main .workSteps .block .blockInAfter .right h4,
main .workSteps .block .blockInBefore .right h4{
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 15px;
}
main .workSteps .block .blockInAfter .right p,
main .workSteps .block .blockInBefore .right p{
	color: grey;
	line-height: 1.75;
}
main .pricingTable{
	background-color: rgba(0, 0, 0, .05);
}
main .pricingTable .container{
	position: relative;
	padding: 150px 0;
}
main .pricingTable .blocks{
	display: flex;
	justify-content: space-between;
}
main .pricingTable .blocks .block{
	width: 30%;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 25px 0;
	position: relative;
}
main .pricingTable .blocks .block::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
}

main .pricingTable .blocks .block:nth-child(1).element-animation{
	transform: translateX(-100px);
}
main .pricingTable .blocks .block:nth-child(2).element-animation{
	animation: none;
}
main .pricingTable .blocks .block:nth-child(2).element-animation.element-show{
	animation: pT .5s;
}
@keyframes pT{
	0%{
		transform: translateX(-50px);
	}
	25%{
		transform: translateX(25px);
	}
	50%{
		transform: translateX(-10px);
	}
	75%{
		transform: translateX(5px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .pricingTable .blocks .block:nth-child(3).element-animation{
	transform: translateX(100px);
}
main .pricingTable .blocks .block.element-animation.element-show{
	transform: translateX(0);
	transition: .5s;
}
main .pricingTable .blocks .block:nth-child(1)::before{
	background-color: #38c695;
}
main .pricingTable .blocks .block:nth-child(2)::before{
	background-color: #fc5f45;
}
main .pricingTable .blocks .block:nth-child(3)::before{
	background-color: #a374de;
}
main .pricingTable .block h5{
	font-family: Poppinsrif;
}
main .pricingTable .block .circle{
	width: 110px;
	height: 110px;
	border-radius: 100%;
	background-color: rgba(0, 0, 0, 0);
	border: 3px solid #38c695;
	position: relative;
	margin-bottom: 25px;
}
main .pricingTable .block .circle#two{
	border-color: #fc5f45;
}
main .pricingTable .block .circle#three{
	border-color: #a374de;
}
main .pricingTable .block .circleIn{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #38c695;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
main .pricingTable .block .circleIn#two{
	background-color: #fc5f45;
}
main .pricingTable .block .circleIn#three{
	background-color: #a374de;
}
main .pricingTable .block .blockText{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
main .pricingTable .block .blockText p{
	white-space: nowrap;
}
main .pricingTable .block .blockText p:nth-child(1){
	font-family: Poppins;
	font-size: 24px;
	color: #fff;
	text-align: center;
}
main .pricingTable .block .blockText p:nth-child(2){
	font-family: Poppins;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}
main .pricingTable .block h5{
	font-family: Poppins;
	font-weight: 500;
	margin-bottom: 25px;
}
main .pricingTable .block ul{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 25px;
}
main .pricingTable .block ul p{
	font-family: Poppins;
	font-size: 15px;
	line-height: 3;
}
main .pricingTable .block ul li{
	list-style: none;
	position: relative;
}
main .pricingTable .block ul span{
	color: grey;
}
main .pricingTable .block li img{
	width: 15px;
	height: 15px;
	position: absolute;
	top: 30%;
	left: -20px;
}
main .pricingTable .block li p{
	color: grey;
}
main .pricingTable .block:nth-child(1) button{
	border: 2px solid #38c695;
}
main .pricingTable .block:nth-child(1) button:hover{
	background-color: #38c695;
}
main .pricingTable .block:nth-child(1) button:hover p{
	color: #fff;
}
main .pricingTable .block:nth-child(2) button{
	border: 2px solid #fc5f45;
}
main .pricingTable .block:nth-child(2) button:hover{
	background-color: #fc5f45;
}
main .pricingTable .block:nth-child(2) button:hover p{
	color: #fff;
}
main .pricingTable .block:nth-child(3) button{
	border: 2px solid #a374de;
}
main .pricingTable .block:nth-child(3) button:hover{
	background-color: #a374de;
}
main .pricingTable .block:nth-child(3) button:hover p{
	color: #fff;
}
main .testimonials{
	background-color: #3f4049;
}
main .testimonials .container{
	position: relative;
	padding: 150px 0;
}
main .testimonials .container p.num{
	color: rgba(255, 255, 255, .1);
}
main .testimonials .container h2.block{
	color: #fff;
}
main .testimonials .container p.text1Block{
	color: #fff;
}
main .testimonials .container div.block{
	display: flex;
}
main .testimonials .container .left{
	width: 35%;
	height: 400px;
	background: linear-gradient(#ae8a83, #a3a3a3);
	z-index: 1;
}
main .testimonials .container .left.element-animation{
	transform: translateY(100px);
	opacity: 1;
}
main .testimonials .container .left.element-animation.element-show{
	transform: translateY(0px);
	transition: .5s;
}
main .testimonials .container .right{
	width: 70%;
	margin: auto 0;
	background-color: #fff;
	padding: 50px;
	position: relative;
	z-index: 0;
}
main .testimonials .container .right.element-animation{
	transform: translateX(-350px);
}
main .testimonials .container .right.element-animation.element-show{
	transform: translateX(0px);
	transition: 1s;
}
main .testimonials .container .right::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fc5f45;
}
main .testimonials .container .right p.quotes{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 348px;
	line-height: 348px;
	color: rgba(0, 0, 0, .1);
	font-family: Libre Baskerville;
}
main .testimonials .container .right p.text2{
	color: grey;
	margin-bottom: 25px;
}
main .testimonials .container .right p.painting{
	font-family: Sacramento;
	font-size: 36px;
}
main .testimonials .container .right p.text3{
	color: #fc5f45;
}
main .testimonials .container .right .circles{
	position: absolute;
	bottom: -15%;
	right: 0;
	display: flex;
}
main .testimonials .container .right .circ{
	width: 20px;
	height: 20px;
	border: 2px solid #fc5f45;
	border-radius: 100%;
	margin-left: 10px;
	position: relative;
}
main .testimonials .container .right .circ::before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 60%;
	height: 60%;
	border-radius: 100%;
	background-color: #fc5f45;
}
main .testimonials .container .right .circ{
	border-color: #fff;
}
main .testimonials .container .right .circ::before{
	width: 0;
	height: 0;
}
main .testimonials .container .right .circ#one{
	border-color: #fc5f45;
}
main .testimonials .container .right .circ#one.element-animation.element-show{
	transition: 1s;
}
main .testimonials .container .right .circ#two.element-animation.element-show{
	transition: 1.25s;
}
main .testimonials .container .right .circ#three.element-animation.element-show{
	transition: 1.5s;
}
main .testimonials .container .right .circ#four.element-animation.element-show{
	transition: 1.75s;
}
main .testimonials .container .right .circ#five.element-animation.element-show{
	transition: 2s;
}
main .testimonials .container .right .circ#six.element-animation.element-show{
	transition: 2.25s;
}
main .testimonials .container .right .circ#one::before{
	width: 60%;
	height: 60%;
}
main .whySelectUs .container{
	position: relative;
	padding: 150px 0;
}
main .whySelectUs .container .blocks{
/*	display: flex;*/
}
main .whySelectUs .container .blocks .line{
	display: flex;
	justify-content: space-between;
	margin-bottom: 75px;
}
main .whySelectUs .container .blocks .line:nth-child(1) .block.element-animation{
	transform: translateX(200px);
}
main .whySelectUs .container .blocks .line:nth-child(1) .block:nth-child(1).element-animation.element-show{
	transition: .5s;
}
main .whySelectUs .container .blocks .line:nth-child(1) .block:nth-child(2).element-animation.element-show{
	transition: 1s;
}
main .whySelectUs .container .blocks .line:nth-child(1) .block:nth-child(3).element-animation.element-show{
	transition: 1.5s;
}
main .whySelectUs .container .blocks .line:nth-child(2) .block.element-animation{
	transform: translateX(-200px);
}
main .whySelectUs .container .blocks .line:nth-child(2) .block:nth-child(1).element-animation.element-show{
	transition: 1.5s;
}
main .whySelectUs .container .blocks .line:nth-child(2) .block:nth-child(2).element-animation.element-show{
	transition: 1s;
}
main .whySelectUs .container .blocks .line:nth-child(2) .block:nth-child(3).element-animation.element-show{
	transition: .5s;
}
main .whySelectUs .container .blocks .line .block.element-animation.element-show{
	transform: translateX(0px);
}
main .whySelectUs .container .blocks .block{
	width: 30%
}
main .whySelectUs .container .line .up{
	display: flex;
	margin-bottom: 25px;
	align-items: center;
}
main .whySelectUs .container .line .up img{
	margin-right: 25px;
}
main .whySelectUs .container .down{
	display: flex;
	align-items: center;
	justify-content: center;
}
main .whySelectUs .container .down h4{
	font-family: Poppins;
	margin-right: 25px;
	font-weight: 500;
}
main .whySelectUs .container .down h4.element-animation{
	animation: none;
}
main .whySelectUs .container .down h4.element-animation.element-show{
	animation: wSU .5s;
}
@keyframes wSU{
	0%{
		transform: translateX(-50px);
	}
	25%{
		transform: translateX(25px);
	}
	50%{
		transform: translateX(-10px);
	}
	75%{
		transform: translateX(5px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .whySelectUs .container .down button{
	border-color: #fc5f45;
	border-style: solid;
	background-color: #fc5f45;
}
main .whySelectUs .container .down button.element-animation{
	animation: none;
}
main .whySelectUs .container .down button.element-animation.element-show{
	animation: wSUb .5s;
}
@keyframes wSUb{
	0%{
		transform: translateX(50px);
	}
	25%{
		transform: translateX(-25px);
	}
	50%{
		transform: translateX(10px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .whySelectUs .container .down button p{
	color: #fff;
	font-weight: 500;
}
main .ourBlog{
	background-color: rgba(0, 0, 0, .05);
}
main .ourBlog .container{
	position: relative;
	padding: 150px 0;
}
main .ourBlog .container .blocks{
	display: flex;
	justify-content: space-between;
}
main .ourBlog .container .blocks .left,
main .ourBlog .container .blocks .right{
	width: 48%;
}
main .ourBlog .container .blocks .left .img{
	width: 100%;
	height: 500px;
	background: linear-gradient(#cbcbcb, #6a6a6a);
	 position: relative;
}
main .ourBlog .container .blocks .left .img.element-animation{
	transform: translateX(-250px);
}
main .ourBlog .container .blocks .left .img.element-animation.element-show{
	transform: translateX(0);
	transition: .5s;
}
main .ourBlog .container .blocks .left .img p{
	position: absolute;
	bottom: 5%;
	left: 5%;
	color: #fc5f45;
}
main .ourBlog .container .blocks .left .img p span{
	color: #d4d4d4;
	font-size: 13px;
	margin-left: 15px;
}
main .ourBlog .container .blocks .left .block{
	padding: 25px 50px;
	background-color: #fff;
	position: relative;
}
main .ourBlog .container .blocks .left .block.element-animation{
	transform: translateX(-250px);
}
main .ourBlog .container .blocks .left .block.element-animation.element-show{
	transform: translateX(0);
	transition: .5s;
}
main .ourBlog .container .blocks .left .block::after{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fc5f45;
}
main .ourBlog .container .blocks .left .block h5{
	font-family: Poppins;
	font-weight: 600;
	margin-bottom: 25px;
}
main .ourBlog .container .blocks .left .block a{
	font-family: Poppins;
	font-weight: 500;
	color: #000;
	text-decoration: none;
}
main .ourBlog .container .blocks .right .blocks{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
main .ourBlog .container .blocks .right .block{
	background-color: #fff;
	padding: 25px 50px;
	position: relative;
}
main .ourBlog .container .blocks .right .block.element-animation{
	animation: none;
}
main .ourBlog .container .blocks .right .block.element-animation.element-show{
	animation: oBb .5s;
}
@keyframes oBb{
	0%{
		transform: translateX(50px);
		opacity: 0;
	}
	25%{
		transform: translateX(-25px);
		opacity: 1;
	}
	50%{
		transform: translateX(10px);
	}
	75%{
		transform: translateX(-5px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .ourBlog .container .blocks .right .block::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
}
main .ourBlog .container .blocks .right .block:nth-child(1)::before{
	background-color: #38c695;
}
main .ourBlog .container .blocks .right .block:nth-child(2)::before{
	background-color: #a374de;
}
main .ourBlog .container .blocks .right .block:nth-child(3)::before{
	background-color: #cb995a;
}
main .ourBlog .container .blocks .right .block:nth-child(1) p.text2:nth-child(1){
	color: #38c695;
}
main .ourBlog .container .blocks .right .block:nth-child(2) p.text2:nth-child(1){
	color: #a374de;
}
main .ourBlog .container .blocks .right .block:nth-child(3) p.text2:nth-child(1){
	color: #cb995a;
}
main .ourBlog .container .blocks .right .block p.text2:nth-child(1){
	margin-bottom: 10px;
}
main .ourBlog .container .blocks .right .block span{
	color: grey;
	font-size: 13px;
}
main .ourBlog .container .blocks .right .block p.text1{
	margin-bottom: 10px;
}
main .ourBlog .container .blocks .right .block p.text2:nth-child(3){
	line-height: 2;
}
main .ourBlog .container .blocks .right .block a{
	font-family: Poppins;
	font-weight: 500;
	text-decoration: none;
}
main .ourBlog .container .blocks .right .block:nth-child(1) a{
	color: #38c695;
}
main .ourBlog .container .blocks .right .block:nth-child(2) a{
	color: #a374de;
}
main .ourBlog .container .blocks .right .block:nth-child(3) a{
	color: #cb995a;
}
main .ourBlog .sub{
	background-color: #fff;
	padding: 125px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .ourBlog .sub h3{
	font-family: Poppins;
	font-weight: 400;
	margin-bottom: 25px;
}
main .ourBlog .sub h3.element-animation{
	letter-spacing: -15px;
	transform: translateX(-200px);
}
main .ourBlog .sub h3.element-animation.element-show{
	letter-spacing: 0px;
	transform: translateX(0px);
	transition: .5s;
}
main .ourBlog .sub form{
	width: 100%;
	display: flex;
	justify-content: center;
}
main .ourBlog .sub form input{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	border-style: solid;
	border-color: rgba(0, 0, 0, .1);
	padding: 0 25px;
	width: 20%;
	font-size: 16px;
	font-family: Poppins;
	color: grey;
	outline: none;
}
main .ourBlog .sub form input.element-animation{
		animation: none;
}
main .ourBlog .sub form input.element-animation.element-show{
	animation: osi .5s;
}
@keyframes osi{
	0%{
		transform: translateX(-50px);
	}
	33%{
		transform: translateX(0px);
	}
	66%{
		transform: translateX(-10px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .ourBlog .sub form button{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-style: solid;
	border-color: #fc5f45;
	transform: translateX(-2px);
	background-color: #fc5f45;
}

main .ourBlog .sub form button.element-animation{
	animation: none;
}
main .ourBlog .sub form button.element-animation.element-show{
	animation: osb .5s;
}
@keyframes osb{
	0%{
		transform: translateX(50px);
	}
	33%{
		transform: translateX(0px);
	}
	66%{
		transform: translateX(10px);
	}
	100%{
		transform: translateX(0px);
	}
}
main .ourBlog .sub form button p{
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	font-size: 16px;
}
main .getInTouch{
	background-color: rgba(0, 0, 0, .20);
}
main .getInTouch .container{
	position: relative;
	padding: 150px;
}
main .getInTouch p.num{
	color: rgba(255, 255, 255, .1);
}
main .getInTouch form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
main .getInTouch form .up,
main .getInTouch form .middle{
	display: flex;
	width: 60%;
	padding-bottom: 25px;
}
main .getInTouch form .up input:nth-child(1),
main .getInTouch form .middle input:nth-child(1){
	margin-right: 25px;
}
main .getInTouch form input,
main .getInTouch form textarea{
	width: 100%;
	text-align: center;
	padding: 10px 0;
	font-size: 16px;
	font-family: Poppins;
	border: 0;
	outline: none;
	color: grey;
}
main .getInTouch form textarea{
	width: 60%;
	height: 250px;
	margin-bottom: 50px;
	color: grey;
}
main .getInTouch form button{
	border-color: #fc5f45;
	background-color: #fc5f45;
	border-style: solid;
}
main .getInTouch form button p{
	color: #fff;
}
footer{
	background-color: rgba(0, 0, 0, .20);
	padding-bottom: 150px;
}
footer .container{
	background-color: #3f4049;
	display: flex;
	padding: 50px 0; 
	position: relative;
}
footer .container .lines{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
}
footer .container .line{
	width: 25%;
	height: 4px;
	background-color: red;
}
footer .container .line:nth-child(1){
	background-color: #fc5f45;
}
footer .container .line:nth-child(2){
	background-color: #38c695;
}
footer .container .line:nth-child(3){
	background-color: #a374de;
}
footer .container .line:nth-child(4){
	background-color: #cb995a;
}
footer .container .left,
footer .container .right{
	width: 25%;
}
footer .container .middle{
	width: 50%;
	display: flex;
}
footer .container .middle .block{
	padding: 0 25px;
}
footer .container .left p{
	font-family: WSAJ;
	color: #fc5f45;
	font-size: 50px;
	text-align: center;
	position: relative;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
footer .container .left p span{
	color: #fff;
}
footer .container h5{
	font-family: Poppins;
	font-weight: 400;
	margin-bottom: 25px;
}
footer .container .middle .block:nth-child(1) h5{
	color: #38c695;
}
footer .container .middle .block:nth-child(2) h5{
	color: #a374de;
}
footer .container .right h5{
	color: #cb995a;
}
footer .container p.text1{
	font-family: Poppins;
	font-weight: 400;
	color: #fff;
}
footer .container .right{
	padding: 0 25px;
	box-sizing: border-box;
}
footer .container .right .icons img{
	margin-right: 25px;
}

































